<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Projectspage</title>
</head>
<body>
    {{>header}}
    <p>
     <a href=https://github.com/Kristianholst>You can find my projects here</a>
    </p>
    {{> footer}}
</body>
</html>